/* Reiniciar márgenes y estilos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo de Encabezado */
header {
    font-family: 'Arial', sans-serif;
    background-color: #691B32;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    gap: 10px;
}

.header-content h2 {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
    gap: 10px;
}

.header-content img {
    width: 50px;
    height: auto;
}

.logo img {
    /*height: 60px;*/
}

header h2 {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    margin-left: 10px;
}

/* Contenedor Principal */
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 40px auto;
    padding: 10px;
    max-width: 1500px;
    gap: 20px; 
}

.titulo_becas_otorgadas {
    display: inline-flex;
    align-items: center;
    /*background-color: #691B32;*/
    color: #BC955B;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 30px;
    position: relative;
}

/*.titulo_becas_otorgadas::before {
    content: url('./assets/iconobeca.svg');
    display: inline-block;
    width: 55px;
    height: 40px;
    position: relative;
    left: -20px;
}*/

.curp{
    font-weight: bold !important;
}

/* Imagen Lateral */
.imagen-lateral {
    flex: 0 0 520px; /* Fija el ancho de la imagen lateral a 300px */
    display: flex;
    justify-content: center;
}

.imagen-lateral img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    align-items: center;
}

/* Sección Consulta de Becas */
.consulta-becas {
    flex: 5; /* Esta sección ocupará el espacio restante */
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 10px;
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);*/
    text-align: center;
}

.consulta-becas h3 {
    font-size: 24px;
    color: #b78b1d;
    font-weight: bold;
    margin-bottom: 15px;
}

.consulta-becas p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #555;
    padding: 20px;
}

/* Formulario */
.consulta-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    max-width: 500px; 
}

.consulta-form label {
    font-size: 16px;
    font-weight: 500;
    color: #444; 
}

.consulta-form input {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: border-color 0.3s;
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);*/
}

.consulta-form input:focus {
    border-color: #691B32;
    outline: none;
}

.consulta-form button {
    width: 250px;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #BC955B;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s;
}

.consulta-form button:hover {
    background-color: #A26C0E;
}

/* Enlaces */

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 0; 
}

.links img {
    height: 40px;   
}

.Portal_Seph {
    background-color: #691B32;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);*/
    transition: background-color 0.3s, transform 0.1s;
    cursor: pointer;
    font-family: 'Georgia', serif;
}

.Portal_Seph:hover {
    background-color: #691B32;
}

.Portal_Seph:active {
    transform: scale(0.98);
}

/* Pie de Página */

footer {
    margin-top: auto;
    background-color: #691B32;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

footer a {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

@media (max-width: 1024px) {
    /* Ajustar la imagen lateral para que sea más pequeña */
    .imagen-lateral {
        flex: 0 0 250px;
    }

    /* Reducir el padding de la sección de consulta */
    .consulta-becas {
        padding: 40px;
    }

    header {
        padding-top: 0px; 
        padding: 0px 8px;
    }

    .header img {    
        width: 100px;
        height: auto;
    }

    .header-content {
        font-size: 14px;
        padding-left: 10px;
        padding-top: 5px;
    }

    .header-content img {
        width: 40px;
        height: 40px;
    }

    .logo img {
        width: 150px;
        height: auto;
        padding-right: 10px;
    }

    .header-content h1, .header-content h2 {
        font-size: 8px;
        display: none;
    }

    .titulo_becas_otorgadas {
        font-size: 30px;
        max-height: 40px;
        max-width: auto;
    }

    .consulta-becas p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 30px;
    }

    .imagen-lateral {
        flex: 0 0 100%; /* La imagen ocupa todo el ancho disponible */
    }

    .consulta-becas {
        width: 100%;
        padding: 20px;
    }

    /* Ajuste de fuentes y tamaños de los elementos */
    .titulo_becas_otorgadas {
        font-size: 30px;
        padding: 5px 10px;
    }

    .consulta-becas p {
        font-size: 15px;
    }

    .consulta-form button {
        width: 100%; /* Botón ocupa el ancho completo en dispositivos móviles */
    }

    button {
        width: 100%; /* Botón ocupa el ancho completo en dispositivos móviles */
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        flex-direction: row; /* Cambiar a fila para mantener los elementos en línea */
        justify-content: space-between;
    }

    .header-content {
        font-size: 10px;
        text-align: left;
    }

    .logo img {
        height: 50px;
    }

    .consulta-becas {
        padding: 15px;
    }

    .consulta-becas h3 {
        font-size: 20px;
    }

    .consulta-becas p {
        font-size: 14px;
        padding: 10px;
    }

    .titulo_becas_otorgadas {
        font-size: 30px;
    }

    .consulta-form input, 
    .consulta-form button {
        width: 100%; /* Ocupa todo el ancho */
        font-size: 14px;
    }

    button {
        width: 100%; /* Ocupa todo el ancho */
        font-size: 14px;
    }
}

a {
    color: #BC955B;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

button {
    width: 300px;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #BC955B;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #A26C0E;
}

.subtitulos {
    display: inline-flex;
    //align-items: left;
    /*background-color: #691B32;*/
    color: #BC955B;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px;
    position: relative;
}

p {
    color: red;
    border-left: 20px;
}